
@font-face {
  font-family:'sfpro';
  src: url('../font/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family:'sfpro';
  src: url('../font/SF-Pro-Display-Bold.otf');
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.70vmin;
  font-family: 'sfpro';
  margin-bottom: 4%;
}

input,
button,
textarea,
select {
  font-size: 1.70vmin;
  font-family: 'sfpro', sans-serif;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  padding: 1%;
}

select {
  white-space: nowrap;
  text-overflow: ellipsis;
}

a,
.select-all span,
.create {
  text-decoration: none;
  transition: 0.3s;
}

a:hover,
.select-all span:hover,
.create:hover {
  opacity: 0.6;
}

.container {
  display: flex;
  flex-direction: column;
  
  max-width: 80vw;
  margin: auto;
}

/* HEADER */

#header {  
  width: 100%;
  margin: auto;
  padding: 3vmin;
  background-image: linear-gradient(#ff5f01, #ffb933, white);
  text-align: center;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.534);
}

/* NAV */

#nav-admin {
  display: flex;
  flex-direction: column;
  padding: 1%;
  /* border: 5px solid red; */
  white-space: nowrap;
  border-right: 2px solid rgba(128, 128, 128, 0.719);
}

/* MAIN */

.main-wrapper {
  display: flex;
  flex-direction: row;            
  padding: 1%;
  /* border: 5px solid orange; */
}

#main-admin {
  padding: 1%;
  margin: auto;
  width: 100%;
  /* border: 5px solid orchid; */

}

/* Table */

.table-wrapper {
  margin: auto;
  max-width: 70vmin;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr, th, td {
  padding: 10px;
  margin: 0;
  text-align: left;
}

table, th {
  border: 1px solid #00a0b0;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  border-left: none;
  border-right: none;
  background: #ef7d50;
  color: #fff;
  cursor: default;
}

tr:nth-child(odd) {
  background: #fff4cf;
}

tr:nth-child(even) {
  background: #fff;
}

tr:hover {
  background: #ddd;
  cursor: pointer;
}

.sil {
  font-weight: bold;
  color: rgb(255, 55, 55);
}

td img {
  max-width: 100%;
}

/* FORM */

.form-wrapper {
  margin: auto;
  max-width: 50vmin;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form h3 {
  margin-bottom: 1%;
}

.form-item {
  margin-bottom: 2%;
}


.btn,
.submit-btn,
.cancel-btn {
  border-style: none;
  padding: 2.5%;
  transition: 0.3s;
  font-weight: bold;
  box-shadow: 0 2px 20px -10px black;
  color: whitesmoke;
  width: 100%;
}

.btn:hover,
.submit-btn:hover,
.cancel-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.submit-btn {
  margin-top: 3%;
  background-color: rgb(3, 187, 3);
}

.cancel-btn {  
  background-color: rgb(163, 162, 162);
}

#videoCancel {
  margin-top: 3%;
  display: none;
}

.checkbox {
  display: flex;
  align-items: center;
}

.select-all {
  text-align: right;
}

.select-all span,
.create {
  color: purple;
}

.select-all span:hover,
.create:hover {
  cursor: pointer;
}

.progress-bar {
  height: 5vmin;
  /* width: 250px; */
  margin-top: 3%;
  border: 2px solid rgb(3, 187, 3);  
  box-shadow: 0 2px 20px -10px black;
  
  background-color: lightgray;
  display: none;
  
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background-color: rgb(3, 187, 3);
  display: flex;
  align-items: center;
  transition: width 0.25s;
  
}

.progress-bar-text {
  margin-left: 0.7rem;
  font-weight: bold;
  color: whitesmoke;
}

.color-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

/* DUYURULAR */

.duyuru-wrapper {
  max-width: 90vmin;
  
}

.duyuru-table {
  table-layout: fixed;  
}

/* RESİMLER */

.gallery-wrapper {
  max-width: 73vmin;

}
.gallery {
  display: flex;
  overflow-x: scroll;  
}

.gallery-item {
  display: flex;
  flex-direction: column;
  margin: 0.3%;
}

.gallery-item img { 
  height: 12vmin;
  cursor: pointer;
  transition: 0.3s;
}
.gallery-item img:hover {opacity: 0.7;}

.btn-sil-wrapper {
  text-align: right;
}
.btn-sil {
  padding: 0;
  font-weight: bold;
  color: rgb(255, 55, 55);
  border-style: none;
  background-color: inherit;
}
.btn-sil:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

/* MODAL */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 10vmin; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 960px;
  text-align: center;
}

.modal-content .video {
  max-width: 100%;  
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 960px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, 
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 4vmin;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* PROGRAM */

.prog-edit:hover {
  display: block;
  background-color: yellowgreen;
  box-shadow: 0 0 15px -2px black;
  border-radius: 5px;
}

.prog-empty:hover {
  cursor: default;
}

.islem-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.prog-secenek-wrapper {
  display: flex;
  justify-content: space-between;
  
}

.select-group {
  flex: 1;
  margin-right: 0.5%;
}

.accordion-group {
  flex: 1;
  margin-left: 0.5%;
}

.btn-aktar {
  background-color: dodgerblue;
}

/* AKORDİYON */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 2%;
  /* max-width: 100%; */
  text-align: left;
  transition: 0.4s;
  border-radius: 3px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 1%;  
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; 
  color: #777;
  float: right;
}

.active:after {
  content: "\2796"; 
}

/* KULLANICI */

.kullanici-table tr:hover {
  cursor: default;
}

/* ÇEŞİTLİ */

#success {
  background-color: lightgreen;
  padding: 1%;
  text-align: center;
  box-shadow: 0 2px 15px -10px black;
  border-radius: 10px;
  display: none;
}

#error {
  background-color: rgb(223, 0, 0);
  padding: 1%;
  text-align: center;
  box-shadow: 0 2px 15px -10px black;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;    
}

@keyframes fade {
  from { opacity: .3 }
  to { opacity: 1 }    
}

.sec {
  width: 100%;
}

.video-baslik {
  margin: auto;
  margin-bottom: 1%;
}





